pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: arial, helvetica;
}

.x-html-editor-container .x-toolbar {
    border-bottom: 1px solid #D2D2D2 !important;
}

.x-mask-full {
    background-color: white;
}

.x-fondo-encabezado {
     background: url('/Assets/Images/fondo-encabezado.png');
 }

.x-fondo-pie {
     background: url('/Assets/Images/fondo-pie.png');
 }

.x-logo-sigaf {
    background: url('/Assets/Images/logo-sigaf.png');
}

.x-logo-gcba {
    background: url('/Assets/Images/logo-gcba.png');
}

.x-leyenda-dguiaf {
    background: url('/Assets/Images/leyenda-dguiaf.png');
}

.x-logo-mesa-de-ayuda {
    background: url('/Assets/Images/logo-mesa-de-ayuda.png');
}

.x-toolbar-titulo-modulo {
    background-color: #F2F2F2 !important;
}

.x-toolbar-titulo-modulo .x-toolbar-text {
    font-size: 16px;
    font-weight: bold;
}

.x-small-fonts div {
    font-size: 11px !important;
}

.x-divider {
    background-color: #02983d !important;
}

.x-toolbar-acciones-modulo {
    border-style: solid !important;
    border-color: #02983d !important;
    border-top-width: 1px !important;
}

.x-tpl-titulo-seccion .x-panel-header {
    background-color: #b3e3c9;
}

.x-tpl-titulo-seccion .x-panel-header-text-container-default {
    color: #4d7761;
}

.x-tpl-titulo-seccion .x-panel-header-default .x-tool-img {
    background-color: #b3e3c9;
}

.x-docked-summary .x-grid-table {
    width: auto;
    border-top: 0;
}

.x-docked-summary .x-grid-cell {
    border: 0 !important;
    background-color: #b3e3c9 !important;
    font-weight: bold;
    color: #FF4500;
}

.x-tpl-contenedor-tabla-propiedades {
    width: 100%;
}

.x-tpl-contenedor-tabla-propiedades td:first-child {
    width: 65%;
}

.x-tpl-contenedor-tabla-propiedades td:last-child {
    width: 35%;
}

.x-tpl-tabla-propiedades th {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
}

.x-tpl-tabla-propiedades td {
    padding: 3px;
    vertical-align: top;
    width: auto !important;
}

.x-resaltar-total {
    font-weight: bold;
    color: #FF4500;
}

.x-tpl-block {
    padding: 10px;
}

.x-grid-form {
    border-style: solid;
    border-top-width: 1px !important;
    border-top-color: #C0C0C0 !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
}

.x-grid-editing-disabled {
    background-color: #F2F2F2;
}

.x-grid-row-alt .x-grid-editing-disabled {
    background-color: #F2F2F2;
}

.x-grid-editing-disabled.x-grid-cell-selected {
    background-color: #b3e3c9;
    color: #000;
}

.x-grid-row-alt .x-grid-editing-disabled.x-grid-cell-selected {
    background-color: #b3e3c9;
    color: #000;
}

.x-grid-cell-invalid {
    background-color: #cf4d36;
    color: #FFFFFF;
}

.x-grid-row-alt .x-grid-cell-invalid {
    background-color: #cf4d36;
    color: #FFFFFF;
}

.x-grid-cell-invalid.x-grid-cell-selected {
    background-color: #b3e3c9;
    color: #000;
}

.x-grid-row-invalid td {
    background-color: #cf4d36;
    color: #FFFFFF;
}

.x-grid-row-invalid td.x-grid-editing-disabled {
    background-color: #F2F2F2;
    color: #000;
}

.x-action-col-cell {
    background-color: white !important;
    border: 0;
}

.x-grid-row-alt .x-action-col-cell {
    background-color: white !important;
    border: 0;
}