<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Mi MVC 9 - EXt JS</title>
		<link rel="Stylesheet" type="text/css" href="/Assets/ExtJs/resources/css/ext-theme-sigaf-all.css" />
		<link rel="Stylesheet" type="text/css" href="/Assets/ExtJs/resources/css/icons.css" />
		<link rel="Stylesheet" type="text/css" href="/Assets/ExtJs/resources/css/extras.css" />
		<script type="text/javascript" src="/Assets/ExtJs/ext-all.js"> </script>
		<script type="text/javascript" src="/Assets/ExtJs/resources/css/ext-theme-sigaf.js"> </script>
		<script type="text/javascript" src="/Assets/ExtJs/ext-lang-es.js"> </script>
		<script type="text/javascript" src="/App/app.js"> </script>
	</head>
	<body>

	</body>
</html>